    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About</h2>

<p>The mission of the WSU World War II Commemoration Project is to revive and complete President Holland’s original vision of honoring WSC’s war dead, but this time in digital form accessible to a twenty-first century audience. By presenting the photos and life stories of the generation of Cougars who died in the fight against fascism and militarism, the project aims to restore the humanity and the spirit of these @190 WSC war dead, transforming them from names on a plaque to young men that contemporary Cougars and the public can readily relate to. It is thus intended to serve both as a scholarly resource and as a means to advance public understanding and appreciation for the service and legacy of these former Cougars in this defining moment of American and world history.
</p>
<p> For more background on the project and project team members please view the WWII Community Service Project video available on <a href="https://www.youtube.com/watch?v=geSldybxmr8" class="btn btn-default btn-lg">Youtube</a> and look below to the <a class="page-scroll" href="#contact" class="btn btn-default btn-lg">More information<a/> section of this site.
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">


            </div>
        </div>
    </section>
