    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>WSU Veterans List</h2>
                    <table>
                        <tr>
                          <td>Harrison Sterling Hughes</td>
                        </tr>
                    </table>

                    <p></p>
                
                </div>
            </div>
        </div>
    </section>
