    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>WSU Veterans List</h2>
                    <table>
                        <tr>
                          <td><h3><a href="http://cdsc-wsu.org/ww2csp/people/harrison-sterling-hughes">Harrison Sterling Hughes</a></h3></td>
                        </tr>
                    </table>

                    <p></p>

                </div>
            </div>
        </div>
    </section>
