    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>The Commemorated</h2>
                    <table>
                        <tr>
                          <td>
                            <h4><a href="https://cdsc.libraries.wsu.edu/ww2csp/person/horace-sumner-corbett-jr"class="btn btn-default btn-lg">Horace Sumner Corbett jr.</a></h4>
                            <h4><a href="https://cdsc.libraries.wsu.edu/ww2csp/person/george-arthur-davidson"class="btn btn-default btn-lg">George Arthur Davidson jr.</a></h4>
                            <h4><a href="https://cdsc.libraries.wsu.edu/ww2csp/person/don-carlos-hempstead"class="btn btn-default btn-lg">Don Carlos Hempstead</a></h4>
                            <h4><a href="https://cdsc.libraries.wsu.edu/ww2csp/people/harrison-sterling-hughes" class="btn btn-default btn-lg">Harrison Sterling Hughes</a></h4>
                            <h4><a href="https://cdsc.libraries.wsu.edu/ww2csp/person/leslie-hodges-finley" class="btn btn-default btn-lg">Leslie Hodges Finley</a></h4>
                            <h4><a href="https://cdsc.libraries.wsu.edu/ww2csp/person/myron-b-carstensen"class="btn btn-default btn-lg">Myron B. Carstensen</a></h4>
                            <h4><a href="https://cdsc.libraries.wsu.edu/ww2csp/person/harland-fremont-burgess" class="btn btn-default btn-lg">Harland Fremont Burgess</a></h4>
                            <h4><a href="https://cdsc.libraries.wsu.edu/ww2csp/person/archie-myrl-buckley" class="btn btn-default btn-lg">Archie Myrl Buckley</a></h4>
                            <h4><a href="https://cdsc.libraries.wsu.edu/ww2csp/person/robert-edward-ennis"class="btn btn-default btn-lg">Robert Edward Ennis</a></h4>
                            <h4><a href="https://cdsc.libraries.wsu.edu/ww2csp/person/merle-stimmel-eaton"class="btn btn-default btn-lg">Merle Stimmel Eaton</a></h4>
                            <h4><a href="https://cdsc.libraries.wsu.edu/ww2csp/person/george-nick-dragnich"class="btn btn-default btn-lg">George Nick Dragnich</a></h4>
                            <h4><a href="https://cdsc.libraries.wsu.edu/ww2csp/person/jesse-lloyd-colley" class="btn btn-default btn-lg">Jesse Lloyd Colley</a></h4>
                            <h4><a href="https://cdsc.libraries.wsu.edu/ww2csp/person/robert-mitchell-ford" class="btn btn-default btn-lg">Robert Mitchell Ford</a></h4>
                            <h4><a href="https://cdsc.libraries.wsu.edu/ww2csp/person/william-hodge-jett" class="btn btn-default btn-lg">William Hodge Jett</a></h4>
                            <h4><a href="https://cdsc.libraries.wsu.edu/ww2csp/person/maximo-paulino-sebastian" class="btn btn-default btn-lg">Maximo Paulino Sebastian</a></h4>
                            <h4><a href="https://cdsc.libraries.wsu.edu/ww2csp/person/james-delbert-kennedy" class="btn btn-default btn-lg">James Delbert Kennedy</a></h4>
                            <h4><a href="https://cdsc.libraries.wsu.edu/ww2csp/person/william-henry-hronek-jr" class="btn btn-default btn-lg">William Henry Hronek, Jr.</a></h4>
                            <h4><a href="https://cdsc.libraries.wsu.edu/ww2csp/person/george-rodrick-greene" class="btn btn-default btn-lg">George Rodrick Greene</a></h4>
                            <h4><a href="https://cdsc.libraries.wsu.edu/ww2csp/person/henry-george-gilbert-jr" class="btn btn-default btn-lg">Henry George Gilbert, Jr.</a></h4>
                            <h4><a href="https://cdsc.libraries.wsu.edu/ww2csp/person/charles-william-gay" class="btn btn-default btn-lg">Charles William Gay</a></h4>
                            <h4><a href="https://cdsc.libraries.wsu.edu/ww2csp/person/john-vincent-fryslie" class="btn btn-default btn-lg">John Vincent Fryslie</a></h4>
                            <h4><a href="https://cdsc.libraries.wsu.edu/ww2csp/person/olimpio-s-bolong" class="btn btn-default btn-lg">Olimpio S. Bolong</a></h4>
                            <h4><a href="https://cdsc.libraries.wsu.edu/ww2csp/person/vernon-elmer-bishop" class="btn btn-default btn-lg">Vernon Elmer Bishop</a></h4>

                          </td>


                          <td>
                            <h4><a href="https://cdsc.libraries.wsu.edu/ww2csp/people/charles-noble-kirkham" class="btn btn-default btn-lg">Charles Noble Kirkham</a></h4>
                            <h4><a href="https://cdsc.libraries.wsu.edu/ww2csp/people/loren-elmer-love" class="btn btn-default btn-lg">Loren Elmer Love</a></h4>
                            <h4><a href="https://cdsc.libraries.wsu.edu/ww2csp/people/robert-skillings-munn"class="btn btn-default btn-lg">Robert Skillings Munn</a></h4>
                            <h4><a href="https://cdsc.libraries.wsu.edu/ww2csp/people/toll-seike"class="btn btn-default btn-lg">Toll Seike</a></h4>
                            <h4><a href="https://cdsc.libraries.wsu.edu/ww2csp/person/harvey-ralph-erickson"class="btn btn-default btn-lg">Harvey Ralph Erickson</a></h4>
                            <h4><a href="https://cdsc.libraries.wsu.edu/ww2csp/person/sidney-carl-beinke"class="btn btn-default btn-lg">Sidney Carl Beinke</a></h4>
                            <h4><a href="https://cdsc.libraries.wsu.edu/ww2csp/person/arthur-edward-balsiger"class="btn btn-default btn-lg">Arthur Edward Balsiger</a></h4>
                            <h4><a href="https://cdsc.libraries.wsu.edu/ww2csp/person/edward-curlin-allison-jr"class="btn btn-default btn-lg">Edward Curlin Allison, Jr.</a></h4>
                            <h4><a href="https://cdsc.libraries.wsu.edu/ww2csp/person/elson-cameron-daggett-jr" class="btn btn-default btn-lg">Elson Cameron Daggett, Jr.</a></h4>
                            <h4><a href="https://cdsc.libraries.wsu.edu/ww2csp/person/harry-lewis-cole-jr" class="btn btn-default btn-lg">Harry Lewis Cole, Jr.</a></h4>
                            <h4><a href="https://cdsc.libraries.wsu.edu/ww2csp/person/l-louis-kenneth-christian" class="btn btn-default btn-lg">L. (Louis) Kenneth Christian</a></h4>
                            <h4><a href="https://cdsc.libraries.wsu.edu/ww2csp/person/gilbert-bonn-chambers" class="btn btn-default btn-lg">Gilbert Bonn Chambers</a></h4>
                            <h4><a href="https://cdsc.libraries.wsu.edu/ww2csp/person/john-elwood-gay" class="btn btn-default btn-lg">John Elwood Gay</a></h4>
                            <h4><a href="https://cdsc.libraries.wsu.edu/ww2csp/person/orville-austin-kirtland" class="btn btn-default btn-lg">Orville Austin Kirtland</a></h4>
                            <h4><a href="https://cdsc.libraries.wsu.edu/ww2csp/person/grenville-neil-porter" class="btn btn-default btn-lg">Grenville Neil Porter</a></h4>
                            <h4><a href="https://cdsc.libraries.wsu.edu/ww2csp/person/billy-dean-hughes" class="btn btn-default btn-lg">Billy Dean Hughes</a></h4>
                            <h4><a href="https://cdsc.libraries.wsu.edu/ww2csp/person/jack-pickard-gould" class="btn btn-default btn-lg">Jack Pickard Gould</a></h4>
                            <h4><a href="https://cdsc.libraries.wsu.edu/ww2csp/person/bernard-paul-gillingham" class="btn btn-default btn-lg">Bernard Paul Gillingham</a></h4>
                            <h4><a href="https://cdsc.libraries.wsu.edu/ww2csp/person/lewis-david-julian" class="btn btn-default btn-lg">Lewis David Julian</a></h4>
                            <h4><a href="https://cdsc.libraries.wsu.edu/ww2csp/person/james-albert-fuller" class="btn btn-default btn-lg">James Albert Fuller</a></h4>
                            <h4><a href="https://cdsc.libraries.wsu.edu/ww2csp/person/kenneth-pierce-french" class="btn btn-default btn-lg">Kenneth Pierce French</a></h4>
                            <h4><a href="https://cdsc.libraries.wsu.edu/ww2csp/person/malcolm-v-fortier" class="btn btn-default btn-lg">Malcolm V. Fortier</a></h4>
                            <h4><a href="https://cdsc.libraries.wsu.edu/ww2csp/person/arnold-william-erickson" class="btn btn-default btn-lg">Arnold William Erickson</a></h4>
                          </td>

                        </tr>
                    </table>

                    <p></p>

                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <a href="#contact" class="btn btn-circle page-scroll" title="Continue">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
            </div>
        </div>
    </section>
