    <!-- Intro Header -->
    <header class="intro" role="banner">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-0">
                        <h1 class="brand-heading">{{ site.title }}</h1>
                        <p class="intro-text">{{ site.description }}</p>
                        <a href="#about" class="btn btn-circle page-scroll" title="Continue to About section" aria-label="Continue to About section">
                            <i class="fa fa-angle-double-down animated" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
